In [1]:
!ls

envr.csv              full_plant_df.parquet recommendation.ipynb
filters.json          parquet_master.ipynb

In [2]:
import pandas as pd

/Users/czhu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
df = pd.read_parquet('full_plant_df.parquet',engine='auto')

In [4]:
df.columns

Index(['attracts', 'common', 'flower', 'fruit', 'leaf', 'water', 'genus',
       'height', 'width', 'special_feature', 'scientific_name', 'description',
       'soil_conditions', 'texture', 'temperature', 'emergence_days',
       'maintenance', 'native_region', 'propagation', 'bloom_time', 'sun',
       'problem_solvers', 'type', 'zones', 'family', 'color', 'flowering',
       'smell', 'annual', 'perennial', 'biennial', 'drought', 'air_pollution',
       'dry_soil', 'wet_soil', 'clay_soil', 'rain_garden', 'hedge', 'herb',
       'good_for_containers', 'vegetable', 'water_plant', 'bulb', 'alt', 'src',
       'id'],
      dtype='object')

In [5]:
df.head(5)

,attracts,common,flower,fruit,leaf,water,genus,height,width,special_feature,...,rain_garden,hedge,herb,good_for_containers,vegetable,water_plant,bulb,alt,src,id
0,['butterflies'],chinese abelia,"['showy', 'fragrant']",['none'],['none'],['medium'],abelia chinensis,[5],[3],['hedge'],...,0,1,0,0,0,0,0,chinese abelia,https://images.mobot.org/PlantRecordsVol2/prod...,0
1,['none'],abelia,['showy'],['none'],['good fall'],['medium'],abelia 'edward goucher',[3],[3],['hedge'],...,0,1,0,0,0,0,0,abelia,https://images.mobot.org/PlantRecordsVol2/prod...,1
2,['none'],abelia,['showy'],['none'],['good fall'],['medium'],abelia 'edward goucher',[3],[3],['hedge'],...,0,1,0,0,0,0,0,abelia,https://images.mobot.org/PlantRecords1/prod/sm...,2
3,"['hummingbirds', 'butterflies']",abelia,['showy'],['none'],['good fall'],['medium'],abelia 'rose creek',[2],[3],['hedge'],...,0,1,0,0,0,0,0,abelia,https://images.mobot.org/PlantRecordsVol2/prod...,3
4,"['hummingbirds', 'butterflies']",abelia,['showy'],['none'],['good fall'],['medium'],abelia 'rose creek',[2],[3],['hedge'],...,0,1,0,0,0,0,0,abelia,https://images.mobot.org/PlantRecords1/prod/sm...,4

In [6]:
url_df = df[['common', 'src', 'id']]
url_df.head()

           common                                                src  id
0  chinese abelia  https://images.mobot.org/PlantRecordsVol2/prod...   0
1          abelia  https://images.mobot.org/PlantRecordsVol2/prod...   1
2          abelia  https://images.mobot.org/PlantRecords1/prod/sm...   2
3          abelia  https://images.mobot.org/PlantRecordsVol2/prod...   3
4          abelia  https://images.mobot.org/PlantRecords1/prod/sm...   4

In [7]:
url_df.shape

(147431, 3)

In [38]:
df = pd.DataFrame(url_df.groupby('common')['src'].first(), index=None)
df

                                                                  src
common
abelia              https://images.mobot.org/PlantRecordsVol2/prod...
abyssinian banana   https://images.mobot.org/PlantRecordsVol2/prod...
acaena              https://images.mobot.org/PlantRecords1/prod/sm...
adam                                                             None
adhesive rehmannia           /PlantFinder/Images/NoThumbnailLarge.jpg
...                                                               ...
zonal geranium      https://images.mobot.org/PlantRecordsVol2/prod...
zoysia grass        https://images.mobot.org/PlantRecordsVol2/prod...
zucchini            https://sympathnk.wpenginepowered.com/wp-conte...
zulu giant          https://images.mobot.org/PlantRecordsVol2/prod...
zz plant            https://www.bhg.com/thmb/3YieBm0BSBEFYGUM0mrBM...

[3244 rows x 1 columns]

In [42]:
df =df.reset_index()

In [58]:
df[df['src']==None]

Empty DataFrame
Columns: [common, src]
Index: []

In [29]:
len(df.src.unique())

2500

In [18]:
plant_path ='../../plant_master_v4.csv'
ori_df = pd.read_csv(plant_path, index_col=0)

In [19]:
ori_df.head()

,attracts,common,water,height,width,special_feature,maintenance,propagation,sun,problem_solvers,...,rain_garden,good_for_containers,water_plant,m_type,edible,showy,bloom_season,temp_bucket,hybrid,greens
0,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,0,vegetable,1,1,seasonal bloomer,low,1,0
1,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,0,vegetable,1,1,seasonal bloomer,low,1,0
2,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,0,vegetable,1,1,seasonal bloomer,low,1,0
3,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,0,vegetable,1,1,seasonal bloomer,low,1,0
4,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,0,vegetable,1,1,seasonal bloomer,low,1,0

In [20]:
o = ori_df.merge(df, how='left', left_on='common', right_on='common')

In [21]:
o

,attracts,common,water,height,width,special_feature,maintenance,propagation,sun,problem_solvers,...,good_for_containers,water_plant,m_type,edible,showy,bloom_season,temp_bucket,hybrid,greens,src
0,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,vegetable,1,1,seasonal bloomer,low,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
1,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,vegetable,1,1,seasonal bloomer,low,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
2,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,vegetable,1,1,seasonal bloomer,low,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
3,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,vegetable,1,1,seasonal bloomer,low,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
4,none,okra,medium,3,3,annual,medium,none,full sun,none,...,0,0,vegetable,1,1,seasonal bloomer,low,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411087,none,vegetable amaranth,none,0,0,none,low,none,full sun,heat,...,0,0,flower,1,0,summer,mild,1,0,None
411088,none,zucchini,none,0,0,none,low,propagate by seed,full sun,none,...,0,0,vegetable,1,0,summer,cool,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
411089,none,zucchini,none,0,0,none,low,propagate by seed,full sun,none,...,0,0,vegetable,1,0,summer,mild,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
411090,none,zucchini,none,0,0,none,low,propagate by seed,full sun,none,...,0,0,vegetable,1,0,summer,warm,1,0,https://sympathnk.wpenginepowered.com/wp-conte...
411091,none,zucchini,none,0,0,none,low,propagate by seed,full sun,none,...,0,0,vegetable,1,0,summer,hot,1,0,https://sympathnk.wpenginepowered.com/wp-conte...

In [22]:
o.to_csv('master_plant_v5.csv')

In [24]:
o.to_parquet('master_plant_v5.parquet')

In [26]:
len(o.src.unique())

1625

In [28]:
len(o.common.unique())

2213